@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

* {
 font-family: 'Mandali', 'sans-serif';
 margin: 0;
 padding: 0;
}
.card{
  margin: 15px 0;
}
.button-box button {
  margin: 5px 10px 5px 0
}

.box-errors {
  background-color: rgb(228, 55, 55);
  border: 1px solid rgb(247, 147, 147);
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
}