@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

* {
 font-family: 'Mandali', 'sans-serif';
 margin: 0;
 padding: 0;
}

.icons.md-18 { font-size: 18px }
.icons.md-24 { font-size: 24px }
.icons.md-36 { font-size: 36px }
.icons.md-48 { font-size: 48px }